<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weiweicode.crm.workbench.mapper.TranMapper">

    <select id="getCharts" resultType="map">
        select
            count(*) as value ,stage as name
        from
            tbl_tran
        group by
            stage
    </select>

    <select id="getTotal" resultType="int">
        select count(*) from tbl_tran
    </select>

    <update id="changeStage">
        update tbl_tran set stage=#{stage},editBy=#{editBy},editTime=#{editTime} where id=#{id}
    </update>

    <select id="detail" resultType="tran">
        select

            t.id,
            t.money,
            t.name,
            u.name as owner,
            t.expectedDate,
            c.name as customerId,
            t.stage,
            t.type,
            t.source,
            a.name as activityId,
            con.fullname as contactsId,
            t.createBy,
            t.createTime,
            t.editBy,
            t.editTime,
            t.description,
            t.contactSummary,
            t.nextContactTime

        from tbl_tran t
        left join tbl_user u
        on t.owner=u.id
        left join tbl_customer c
        on t.customerId=c.id
        left join tbl_activity a
        on t.activityId=a.id
        left join tbl_contacts con
        on t.contactsId=con.id

        where t.id=#{id}
    </select>
	
  	<insert id="save">
        insert into tbl_tran(
            id,
            owner,
            money,
            name,
            expectedDate,
            customerId,
            stage,
            type,
            source,
            activityId,
            contactsId,
            createBy,
            createTime,
            description,
            contactSummary,
            nextContactTime

        )
        values(
            #{id},
            #{owner},
            #{money},
            #{name},
            #{expectedDate},
            #{customerId},
            #{stage},
            #{type},
            #{source},
            #{activityId},
            #{contactsId},
            #{createBy},
            #{createTime},
            #{description},
            #{contactSummary},
            #{nextContactTime}
        )
    </insert>

</mapper>

































